@font-face {
  font-family: Gotham-Thin;
  src: url(../fonts/Gotham-Thin.ttf);
}

@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/Gotham-Book.ttf);
}

@font-face {
  font-family: Gotham-Bold;
  src: url(../fonts/Gotham-Bold.ttf);
}

@font-face {
  font-family: HelveticaLTStd-BoldCond_0;
  src: url(../fonts/HelveticaLTStd-BoldCond_0.otf);
}

@font-face {
  font-family: ChristmasWish-Calligraphy;
  src: url(../fonts/ChristmasWish-Calligraphy.otf);
}

body{
	margin:0;
	padding: 0;
	background: url('../pictures/couplePic.webp') no-repeat;
	/* background: url('../pictures/geoffrey-arduini-ea9Zg7HkFXQ-unsplash.jpg') no-repeat; */
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


#top{
	display: flex;
	justify-content: space-between;	
	padding: 20px 0 0 0;
	width: 80vw;
	height: 10vh;
	/* background: white; */
}

#top .home_logo{
	background: url('../pictures/k3logo.png') no-repeat;
	background-size: contain;
	width: 80px;
}


#top .menu{
	/* width: 35vw; */
	/* background: red; */
	padding-right: 50px;
}

#top .menu a{
	color: black;
	text-decoration: none;
}

#top .menu a:hover{
	color: #e3007b;
}

#top .menu ul{
	list-style-type: none;
	font-family: Gotham-Thin;
	font-size: 0.8rem;
}

#top .menu ul li{
	float: left;
	padding: 20px 20px 0 0;
}


main{
	/* background: rgba(255,255,255,.2); */
	

	
}

main .mobile_logo{
	display: none;
	
	align-content: center;
	justify-content: space-between;
	height: 60px; 
	width: 100vw;
	padding: 10px;

}

main .mobile_logo i{
	font-size: 1.8rem;
	padding: 15px 0 0 10px;
	color: #000;
}

main .mobile_logo .img{
	height: 60px;
	width: 60px;
	background: url('../pictures/k3logo.png') no-repeat;
	background-size: contain;
	border: none;
}


main h1{
	font-family: ChristmasWish-Calligraphy;
	font-weight: normal;
	font-size: 7rem;
	text-align: center;
	color: #e3007b;
	/* color: #b5b5b5; */
}



main .right_msg{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	
	
	
	font-family: Gotham-Book;
}

main .right_msg p{
	padding: 20px;
	text-align: center;
	font-size: 0.8rem;
	width: 50vw;
}

main .right_msg button{
	width: 150px;
	padding: 10px;
	border: none;
	background: black;
	color: white;
}

main .right_msg button:hover{
	background: none;
	color: #ae00ff;
	font-weight: bold;
	border: 1px solid #0090ff;
	cursor: pointer;
}

footer{
	display: flex;
	justify-content: space-between;
	/* background: blue; */
	height: 5vh;
	width: 90vw;
	padding: 20px 0 0 0;
	font-family: Gotham-Book;
	position: fixed;
	bottom: 0;
}

footer .footer_left{
	display: flex;
	align-items: center;	
	justify-content: center;
	margin: auto;
}



footer i{
	padding: 0 10px 0 0;
}

footer a{
	color: white;
	text-decoration: none;
}

footer a:hover{
	color: #e3007b;
}

footer p{
	font-size: 0.7rem;
	color: rgba(255,255,255,0.7);
}

#footer_right a{
	color: rgba(255,255,255,0.7);
}







@media only screen and (max-width: 425px){
	#top{
		display: none;
	}

	main .mobile_logo{
		display: flex;
	}

	main{
		height: 90vh;
		align-items: flex-start;
		
	}

	main h1{
		width: 100vw;
		font-size: 5rem;
		height: 10px;
	}

	main .right_msg{
		width: 100vw;
		padding: 0;
		height: auto;
	}

	main .right_msg p{
		width: 80vw;
		padding: 40px 0 10px 0;
	}

	footer{
		justify-content: center;
		width: 110vw;
		background: rgba(0,0,0,.5);
	}

	footer .footer_left{
		width: 50vw;
		background: red;
	}

	footer i{
		padding: 0 20px 0 0;
		font-size: 1.2rem;
	}

	footer p{
		display: none;
	}
}
